<ion-view>
  <ion-content style="top:0;">
      <ion-list class="bg">

        <ion-item class="ionitem" back-img="http://media.api.visitbritain.com/{{item.images[0]}}_cell_2x1_640.jpg"
                  ng-repeat="item in destinations"
                  item="item"
                  href="#/app/locationdetail/{{item.id}}/{{item.title}}">
          <div class="ionitemtitle">{{ item.title }}</div>
          <div class="ionitemduration">
            {{item.duration | formatSecs }}
          </div>

          </ion-item>

      </ion-list>

    </ion-content>
</ion-view>
