<ion-view view-title="Home">
  <ion-content style="top:0;">
    <div class="homeBGHeader">    </div><br/>
    <div class="locationDiv">
      <span class="locationHeader">You are in <span class="locationName">{{location.title}}</span>, right?</span>
      <button class="button button-small button-changelocation" ng-click="goToSearch()">
  Change Location
</button>
    </div><br/>
    <div class="activityTime">
      How much time do you have? <select id="chooseTimer" ng-model="selectedDuration" ng-options="duration.displayName for duration in durations">
      </select>
    </div>
    <ul class="list">
      <li class="item item-divider">
        What are you interested in?
      </li>
      <li class="item item-checkbox" ng-repeat="category in categories">
        <label class="checkbox"><input type="checkbox"></label>
        {{category}}
      </li>
    </ul>
  </ion-content>
</ion-view>
