<ion-view hide-nav-bar="true">
  <ion-content style="top:0;">
    <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" placeholder="Search" ng-model="suggest.location" ng-change="suggestLocation()">
  </label>
  <button class="button button-clear" ng-click="goBack()">
    Cancel
  </button>
</div>
<ion-list>
  <ion-item ng-repeat="location in suggest.locations" href="#/app/playlists/{{playlist.id}}">
    {{location.title}}
  </ion-item>
</ion-list>
  </ion-content>
</ion-view>
